<!DOCTYPE html>
<html lang="en">
<head>    
{{>header}}
</head>
<body>
    {{>nav}}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <article class="shadow p-4 mb-5 bg-white rounded">
                    <h1 class="mb-4 text-center">Welcome!</h1>
                    <p class="text-justify" style="font-size: 1.2rem; line-height: 1.6;">


                        2018 – Discussions with Glasgow City Council & our partner organisation Fareshare Glasgow & West 
                        of Scotland lead to the development of a best practice mode , a steering group is formed to establish
                         a pilot in the North East of the city.
                         <br>
                        2019 – Two more sites are identified, one in the East another in the South.
                         <br>

                        2020 – The first two Pantries open with great success.
                         <br>

                        2021 – Was an exciting year for the Pantry Network, we hired our first members of staff and moved into other local authority areas. We started to establish our networks and partnerships


                    </p>

                    <p class="text-justify" style="font-size: 1.2rem; line-height: 1.6;">

                        2022 – Has been another successful year for TSPN. We have secured funding
                         for a further 3 posts and developed our business case for a Farm project.
                         <br>

                        2023  – Interest in the Network continues to grow and we know have 21 member
                         pantries across 8 local authority areas. Our core team is now in place and working 
                         hard to improve awareness, influence policy and provide critical tailored support to our 
                         member pantries. We are able to attend and support a range of events with policy makers including 
                         the Glasgow Food Summit, SCVO the Gathering, and Scotland’s Homelessness Conference.
                        <br>Copied from the scottish pantry network, source: Morgan, M,.TSPN, 2023
                    </p>
                </article>
            </div>
        </div>
    </div>
</body>
</html>
