<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Sharing App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="header d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-white rounded" style="height: 100px;">
    <a href="/" class="d-flex align-items-center">
      <img src="/images/TSPN_logo.png" alt="TSPN Logo" style="height: 80px;"> <!-- Enlarged logo -->
    </a>
    <div class="ml-auto">
      {{#user}}
        <p>Welcome, {{user.username}}!</p>
      {{/user}}
      {{^user}}
        <p>Welcome, guest!</p>
      {{/user}}
    </div>
  </div>
</body>
</html>
